.group-child12,
.group-child13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 3px;
  object-fit: contain;
}
.group-child13 {
  top: 3px;
}
.chengalpattu3,
.srm-institute-and3 {
  margin: 0;
}
.srm-institute-and-container3 {
  position: absolute;
  top: 23px;
  left: 1013px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 468px;
  height: 85px;
}
.contact-details3 {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.link-httpswwwsrmistedui11 {
  text-decoration: underline;
}
.link-httpswwwsrmistedui10 {
  color: inherit;
}
.emailinfodesksrmisteduin3,
.link-httpswwwsrmistedui9 {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.contact-details-link-container3 {
  position: absolute;
  top: 10px;
  left: 24px;
  letter-spacing: 0.05em;
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 554px;
  height: 111px;
}
.line-parent1 {
  position: absolute;
  top: 906px;
  left: 0;
  width: 1481px;
  height: 121px;
  text-align: center;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
}
.desktop-5-child,
.sub-index-icon2 {
  position: absolute;
  top: 307px;
  left: 16px;
  width: 198px;
  height: 552px;
}
.desktop-5-child {
  top: 306.5px;
  left: 213.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 553px;
}
.desktop-5-child1,
.desktop-5-child2,
.desktop-5-inner,
.desktop-5-item {
  position: absolute;
  top: 491px;
  left: 16px;
  width: 189px;
  height: 2px;
  object-fit: contain;
}
.desktop-5-child1,
.desktop-5-child2,
.desktop-5-inner {
  top: 608px;
  left: 19px;
}
.desktop-5-child1,
.desktop-5-child2 {
  top: 719px;
  left: 16px;
}
.desktop-5-child2 {
  top: 389px;
}
.procedure6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.div4,
.procedure5,
.simulation5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 26px;
}
.div4,
.simulation5 {
  top: 537px;
  left: 33px;
}
.simulation5 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.div5,
.simulation4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 32px;
}
.div5 {
  top: 651px;
  left: 27px;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 160px;
  height: 27px;
}
.alogithm5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.alogithm4,
.inactive2 {
  position: absolute;
  width: 141px;
  height: 32px;
}
.alogithm4 {
  top: 0;
  left: 0;
  display: none;
}
.inactive2 {
  top: 425px;
  left: 46px;
}
.result7,
.result8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.result8 {
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.result7 {
  right: 0;
  bottom: 0;
}
.result6 {
  position: absolute;
  top: 757px;
  left: 60px;
  width: 105px;
  height: 32px;
}
.aim4,
.aim5 {
  position: absolute;
  width: 50px;
  height: 27px;
}
.aim5 {
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.aim4 {
  top: 324px;
  left: 92px;
  border-radius: var(--br-7xs);
}
.algorithm6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.algorithm5 {
  position: absolute;
  top: 428px;
  left: 33px;
  width: 200px;
  height: 34px;
}
.csc305j3 {
  font-size: var(--font-size-xl);
}
.artificial-intelligence-18csc7 {
  font-weight: 900;
}
.artificial-intelligence-18csc6,
.blank-line5 {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.p3 {
  margin: 0;
}
.artificial-intelligence-18csc-container3 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 650px);
  letter-spacing: 0.05em;
  display: inline-block;
  width: 646px;
  height: 41px;
}
.group-child14,
.group-child15 {
  position: absolute;
  top: 106px;
  left: 0;
  width: 1440px;
  height: 4px;
  object-fit: contain;
}
.group-child15 {
  top: 110px;
}
.group-child16 {
  position: absolute;
  top: 0;
  left: 448px;
  border-radius: var(--br-lg);
  background-color: var(--color-goldenrod);
  width: 535px;
  height: 75px;
}
.virtual-lab3 {
  position: absolute;
  top: calc(50% - 83px);
  left: calc(50% - 240px);
  font-size: var(--font-size-21xl);
  letter-spacing: 0.37em;
  display: inline-block;
  color: var(--color-black);
  white-space: pre-wrap;
  width: 491px;
  height: 63px;
}
.artificial-intelligence-18csc-parent1 {
  position: absolute;
  bottom: 796px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 190px;
  font-size: var(--font-size-11xl);
}
.vaccum-cleaner-problem3 {
  position: absolute;
  top: 194px;
  left: 593px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.05em;
  text-transform: capitalize;
  display: inline-block;
  font-weight: 600;
  color: var(--color-white);
  width: 437px;
  height: 34px;
  cursor: pointer;
}
.desktop-5 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-orange);
  font-family: var(--font-inter);
}
