.group-child7,
.group-child8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 3px;
  object-fit: contain;
}
.group-child8 {
  top: 3px;
}
.chengalpattu2,
.srm-institute-and2 {
  margin: 0;
}
.srm-institute-and-container2 {
  position: absolute;
  top: 23px;
  left: 1013px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 468px;
  height: 85px;
}
.contact-details2 {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.link-httpswwwsrmistedui8 {
  text-decoration: underline;
}
.link-httpswwwsrmistedui7 {
  color: inherit;
}
.emailinfodesksrmisteduin2,
.link-httpswwwsrmistedui6 {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.contact-details-link-container2 {
  position: absolute;
  top: 10px;
  left: 24px;
  letter-spacing: 0.05em;
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 554px;
  height: 111px;
}
.line-container {
  position: absolute;
  top: 906px;
  left: 0;
  width: 1481px;
  height: 121px;
  text-align: center;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
}
.desktop-4-child,
.sub-index-icon1 {
  position: absolute;
  top: 307px;
  left: 16px;
  width: 198px;
  height: 552px;
}
.desktop-4-child {
  top: 306.5px;
  left: 213.5px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 553px;
}
.desktop-4-child1,
.desktop-4-child2,
.desktop-4-inner,
.desktop-4-item {
  position: absolute;
  top: 491px;
  left: 16px;
  width: 189px;
  height: 2px;
  object-fit: contain;
}
.desktop-4-child1,
.desktop-4-child2,
.desktop-4-inner {
  top: 608px;
  left: 19px;
}
.desktop-4-child1,
.desktop-4-child2 {
  top: 719px;
  left: 16px;
}
.desktop-4-child2 {
  top: 389px;
}
.procedure3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.div2,
.procedure2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 26px;
}
.div2 {
  top: 537px;
  left: 33px;
  border-radius: var(--br-4xs);
  background-color: var(--color-white);
}
.simulation3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.alogithm3,
.div3,
.simulation2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 32px;
}
.alogithm3,
.div3 {
  top: 651px;
  left: 27px;
}
.alogithm3 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.alogithm2,
.inactive1 {
  position: absolute;
  width: 141px;
  height: 32px;
}
.alogithm2 {
  top: 0;
  left: 0;
  display: none;
}
.inactive1 {
  top: 425px;
  left: 46px;
}
.result4,
.result5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.result5 {
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.result4 {
  right: 0;
  bottom: 0;
}
.result3 {
  position: absolute;
  top: 757px;
  left: 60px;
  width: 105px;
  height: 32px;
}
.aim2,
.aim3 {
  position: absolute;
  width: 50px;
  height: 27px;
}
.aim3 {
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.aim2 {
  top: 324px;
  left: 92px;
  border-radius: var(--br-7xs);
}
.algorithm4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
}
.algorithm3 {
  position: absolute;
  top: 428px;
  left: 33px;
  width: 200px;
  height: 34px;
}
.csc305j2 {
  font-size: var(--font-size-xl);
}
.artificial-intelligence-18csc5 {
  font-weight: 900;
}
.artificial-intelligence-18csc4,
.blank-line4 {
  margin-block-start: 0;
  margin-block-end: 18px;
}
.p2 {
  margin: 0;
}
.artificial-intelligence-18csc-container2 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 650px);
  letter-spacing: 0.05em;
  display: inline-block;
  width: 646px;
  height: 41px;
}
.group-child10,
.group-child9 {
  position: absolute;
  top: 106px;
  left: 0;
  width: 1440px;
  height: 4px;
  object-fit: contain;
}
.group-child10 {
  top: 110px;
}
.group-child11 {
  position: absolute;
  top: 0;
  left: 448px;
  border-radius: var(--br-lg);
  background-color: var(--color-goldenrod);
  width: 535px;
  height: 75px;
}
.virtual-lab2 {
  position: absolute;
  top: calc(50% - 83px);
  left: calc(50% - 240px);
  font-size: var(--font-size-21xl);
  letter-spacing: 0.37em;
  display: inline-block;
  color: var(--color-black);
  white-space: pre-wrap;
  width: 491px;
  height: 63px;
}
.group-div {
  position: absolute;
  bottom: 796px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 190px;
  font-size: var(--font-size-11xl);
}
.vaccum-cleaner-problem2 {
  position: absolute;
  top: 194px;
  left: 593px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.05em;
  text-transform: capitalize;
  display: inline-block;
  font-weight: 600;
  color: var(--color-white);
  width: 437px;
  height: 34px;
  cursor: pointer;
}
.procedur {
  letter-spacing: 0.25em;
}
.e {
  letter-spacing: 0.19em;
}
.span {
  letter-spacing: 0.17em;
}
.procedure4 {
  position: absolute;
  top: 307px;
  left: 266px;
  font-size: var(--font-size-lg);
  line-height: 93.2%;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 171px;
  height: 31px;
}
.the-vacuum-cleaner {
  letter-spacing: 0.08em;
  line-height: 39%;
}
.ronment-and-q-table {
  letter-spacing: -0.01em;
  line-height: 187%;
}
.the-vacuum-cleaner-container1 {
  width: 100%;
}
.the-vacuum-cleaner-container {
  position: absolute;
  top: 395px;
  left: 351px;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: flex-end;
  width: 837px;
}
.desktop-4 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray);
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-orange);
  font-family: var(--font-inter);
}
